/*footer*/
footer {
  background: black;
  height: auto;
  width: auto;
  padding-top: 40px;
  color: #fff;
}
footer .footer-content p {
  max-width: 500px;
  margin: auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}
.socials li {
  margin: 0 10px;
}
.socials li a {
  text-decoration: none;
  color: #fff;
}
.socials li a i {
  font-size: 2rem;
  transition: color ease;
}
.socials li a i:hover {
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: auto;
  padding: auto;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: lowercase;
}

/*formulario*/
/*NUEVO FORMULARIO*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}

.content h1 {
  font-size: 36px;
  font-weight: 500;
}

.content h1 p {
  font-weight: 300;
  color: #fff;
}

.container1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container1 .contactinfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container1 .contactinfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container1 .contactinfo .box .icon {
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container1 .contactinfo .box .icon .text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}

/*WSP*/
.bloque-whatsapp .whatsapp {
  text-decoration: none;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}
.bloque-whatsapp .whatsapp i {
  font-size: 2rem;
  color: greenyellow;
  margin-top: 13px;
}

/*------------------------FUENTES----------------------------------*/
.title {
  font-family: "Niramit", sans-serif;
  text-decoration: underline;
  font-size: 50px;
  color: black;
  padding: 100px;
  padding-bottom: 40px;
  margin: 0;
  text-align: center;
}

.subtitle {
  font-family: "Mallanna", sans-serif;
  font-size: 25px;
  padding: 10px;
  margin: 0;
}

.text {
  font-family: "Mallanna", sans-serif;
  text-align: center;
}

.titleN {
  font-family: "Niramit", sans-serif;
  text-decoration: underline;
  font-size: 27px;
  color: black;
  padding: 125px;
  padding-bottom: 30px;
  margin: 0;
}

/*flexbox para mi footer*/
footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/**/
/*----------para mi textos-----------*/
/*si hace una compra*/
/*error 404*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error404 {
  background: blue;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error404 .container-404 {
  text-align: center;
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  line-height: 1.7;
}
@media screen and (max-width: 375px) {
  .error404 {
    width: 450px;
    margin: auto;
  }
}

.boton {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  background: blue;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
