  /*------------------------FUENTES----------------------------------*/
  .title{
    font-family: 'Niramit', sans-serif;
    font-size: 50px;
    color: nth($colores, 6);
    padding: 100px;
    padding-bottom: 40px;
    margin-top: 30px;
    text-align: center;
  }
  .title2{
    font-family: 'Niramit', sans-serif;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .subtitle{
    font-family: 'Mallanna', sans-serif;
    font-size: 25px;
    padding: 10px;
    margin: 0 ;
  }
  .text{
    font-family: 'Mallanna', sans-serif;
    text-align: center;
  }

  .tiapato{
    font-family: 'Niramit', sans-serif;
    font-size: 30px;
    margin-top: 115px;
  }